body {
background:#222222;
}
.row {
min-width:33%;
}
.row img {
-moz-box-shadow: 5px 5px 30px #BDBDBD;
-webkit-box-shadow:5px 5px 30px #BDBDBD;
border-radius:15px;
}
.imageText {
padding-top:5px;
padding-bottom:10px;
color:#FFFFFF;
background: #2a6da9;
background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
border-radius:10px;
}

.versus {
background:url(images/vs2.png);
width="50px" 
height="50px"
}

.imageText:hover {
cursor:pointer;
}
